body {
    width: 600px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: black;
}

.tab {
    width: 500px;
    height: 400px;
    border: 10px solid beige;
    border-radius: 10px;
    background-color: white;
    display: none;
    margin: 0 auto;
}

.tab.active {
    display: block;
}

#command-line {
    width: 500px;
    height: 25px;
    background-color: burlywood;
    margin: 0 auto;
}